<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="POS.Pos_jenkins" />
			<class name="POS.Jenkins2" />
			<class name="POS.Jenkins3" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
